<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        ul#menu li {
           color: blue;
           }
    </style>
</head>
<body style="background: black ">
<center>
<h2 style="color: aliceblue;">JUST FUN</h2>
<img src="mounts.jpg" alt="pic" height="350px" width="250px">
<table border="1px" cellspacing="0" cellpadding="20px">

    <tr>
        <td>
        <ul id="menu">
            <li><b>DRAMA</b></li>
            <ol>
                <li>Interstellar</li>
                <li>Titanic</li>
                <li>Top Gun</li>
            </ol>
            <li><b>ACTION</b></li>
            <ol>
                <li>Inception</li>
                <li>Haywire</li>
                <li>Attack the Block</li>
            </ol>
            <li><b>ADVENTURE</b></li>
            <ol>
                <li>Everest</li>
                <li>Jurassic World</li>
                <li>The Road</li>
            </ol>
            <li><b>SCIENCE FICTION</b></li>
            <ol>
                <li>Star Wars</li>
                <li>Aliens</li>
                <li>Blade Runner</li>
            </ol>
        </ul>
        </td>
        <td>
            <img src="swars.png" height="350px" width="250px">
        </td>
    </tr>

</table>
</center>
</body>
</html>